@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', serif;
}

.head-style {
  font-size: 40px;
  font-weight: bold;
  color: '#2B273A';
  text-align: start;
}
a {
  text-decoration: none;
}
a:active {
  color: transparent;
  transition: colors 0.8s;
}
